html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body{
  min-height: 100vh;
  font-weight: 500;
  font-family: 'roboto';
}

.container{
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header{
  height: 100vh;
  overflow: hidden;
}

.header__course{
  height: 120px;
}

.header__top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin: 0 auto;
  transition: all .5s;
}

.header__top-inner{
  display: flex;
  align-items: center;
  height: 120px;
}

.logo__img{
  width: 200px;
  cursor: pointer;
}

.header__top-menu{
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__top-menu-items{
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}

.header__top-menu-item + .header__top-menu-item{
  margin-left: 15px;
}

.header__top-menu-item{
  margin-right: 15px;
}

.header__top-menu-item:last-child{
  margin-right: 0;
}

.header__top-menu-link{
  text-decoration: none;
  color: #000;
  transition: all .3s;
  cursor: pointer;
}

.header__top-menu-link--active{
  color: #0037ff;
}

.header__content{
  height: 100%;
  align-items: center;
}

.header__content-inner{
  min-height: 100%;
  max-width: 520px;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  padding-top: 120px;
  z-index: 1;
}

.header__content-title{
  display: flex;
  justify-content: center;
  font-size: 82px;
  line-height: 70px;
  color: #fff;
  padding: 60px 0 120px;
  text-align: center;
}

.header__content-btn{
  width: 210px;
  padding: 15px 30px;
  background-color: #0037ff;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

.header__content-arrow-svg{
  fill: #fff;
  display: flex;
  margin: 100px auto 0;
}

.about{
  padding-top: 120px;
  margin-top: -30px;
}

.about__items{
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-gap: 40px;
}
.about__item{
  margin-bottom: 60px;
}

.about__title{
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  width: 560px;
  margin: 0 auto 90px;
  text-align: center;
}

.about__item-title{
  font-size: 28px;
  font-weight: 500;
  margin: 5px 0 20px;
}

.about__item-text{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.price{
  background-color: #fee6d8;
  padding-bottom: 135px;
  padding-top: 60px;
  margin-top: -60px;
}

.price__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.price__title{
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  padding: 60px 0;
  text-align: center;
}

.price__items{
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-gap: 25px;
  margin: 0 auto;
}

.price__item{
  background-color: #fff;
  padding: 27px 30px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.price__item:hover{
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%) !important
}

.price__item-title{
  font-size: 30px;
  font-weight: 400;
  color: #0037ff;;
}

.price__item-subtitle{
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  padding: 10px 0;
  color: #000;
}

.price__item-text{
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  color: #575757;
  padding: 10px 0;
}

.price__item-text span{
  display: block;
  padding-top: 10px;
  color: #0037ff;;
}

.teachers{
  background-color: #d8f0fe;
  padding-top: 120px;
  padding-bottom: 75px;
  margin-top: -120px;
}

.teachers__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teachers__title{
  padding-bottom: 105px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 560px;
  text-align: center;
  margin: 0 auto;

}

.teachers__items{
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-gap: 25px;
  margin: 0 auto;
}

.teachers__item-img{
  height: 250px;
  margin-bottom: 30px;
}

.teachers__item-name{
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 15px;
}

.teachers__item-about{
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
}

.reviews{
  padding-top: 120px;
  margin-top: -10px;
  padding-bottom: 75px;
}

.reviews__item{
  text-align: center;
}

.reviews__text{
  font-size: 22px;
  line-height: 1.55;
  margin: 14px 0 5px;
  font-weight: 400;
  max-width: 960px;
  margin: 0 auto 36px;
}

.reviews__item-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.reviews__item-name{
  font-size: 16px;
  line-height: 1.35;
  margin: 14px 0 5px;
}

.reviews__item-profession{
  font-size: 14px;
  line-height: 1.35;
  margin-bottom: 8px;
  font-weight: 400;
}

.slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slick-dots li + li{
  margin-left: 15px;
}

.slick-dots button{
  font-size: 0;
  line-height: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  background-color: #c7c7c7;
  padding: 0;
}

.slick-dots .slick-active button{
  background-color: #222;
}

.slick-arrow{
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #eeeeee;
  cursor: pointer;
}

.reviews__items .slick-prev{
  position: absolute;
  top: 50%;
  left: 0;
}

.slick-prev::before{
  content: '';
  width: 20px;
  height: 20px;
  background: url('../images/left-arrow.svg') 0 0 / 100% no-repeat;
  position: absolute;
  top: 5px;
  left: 3px;
  z-index: 999;
}

.reviews__items .slick-next{
  position: absolute;
  top: 50%;
  right: 0;
}

.slick-next::before{
  content: '';
  width: 20px;
  height: 20px;
  background: url('../images/left-arrow.svg') 0 0 / 100% no-repeat;
  transform: rotate(180deg);
  position: absolute;
  top: 5px;
  right: 3px;
  z-index: 999;
}

.connection{
  background-color: #fee6d8;
  padding: 60px;
  padding-top: 90px;
  margin-top: -30px;
}

.connection__title{
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 30px;
  margin-bottom: 40px;
}

.connection__items{
  max-width: 560px;
  margin: 0 auto;
}

.connection__items .form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.connection__items .form__input{
  font-size: 16px;
  line-height: 1.33;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 25px;
  border: none;
}

.connection__select{
  font-size: 16px;
  line-height: 1.33;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 25px;
  border: none;
}

.connection__form-btn{
  padding: 20px;
  background-color: #14323f;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.connection__text{
  padding-top: 40px;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 400;
  text-align: center;
  color: #919191;
}

.map{
  min-width: 100%;
  height: 400px;
}

.course{
  padding: 30px 0 90px;
  text-align: center;
}

.course__title{
  font-size: 36px;
  line-height: 1.23;
  font-weight: 400;
  margin-bottom: 15px;
}

.course__text{
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  padding-bottom: 40px;
  max-width: 960px;
  margin: 0 auto;
}

.course__image-box{
  display: flex;
  justify-content: space-between;
}

.course__img{
  width: 560px;
}

.course__info{
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.course__info-item{
  width: 260px;
}

.course__info-value{
  font-size: 52px;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #e9e9e9;
}

.course__info-text{
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
}

.course__skills-wrapper{
  background-color: #fee6d8;
  width: 100%;
}

.course__skills-inner{
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-bottom: 1px solid #d8c4b8;
  padding: 45px 15px;
}

.course__skills{
  width: 540px;
}

.course__skills-title{
  font-size: 20px;
  line-height: 1.55;
  font-weight: 600;
  margin-bottom: 50px;
}

ul.course__skills-list {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  list-style: disc !important;
}

.course__registration{
  background-color: #fee6d8;
  width: 100%;
  padding: 45px 0 90px;
}

.course__registration-title{
  font-size: 48px;
  line-height: 1.23;
  font-weight: 500;
  padding-bottom: 60px;
}

.course__price-old{
  font-size: 48px;
  line-height: 1.23;
  font-weight: 500;
  text-decoration: line-through;
  padding-bottom: 10px;
}

.course__price-new{
  font-size: 48px;
  line-height: 1.23;
  font-weight: 500;
  color: #0037ff;
  padding-bottom: 20px;
}

.course__price-text{
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 90px;
}

.course__price-btn{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #1f5bff;
  border-radius: 30px;
  padding: 20px 60px;
  text-decoration: none;
}

.footer{
  padding: 45px 0 105px;
}

.social__icons{
  text-align: center;
}

.social__link{
  font-size: 0;
  width: 32px;
  height: 32px;
  padding: 0 10px;
}

.footer__items{
  display: flex;
  justify-content: space-around;
  padding: 60px 0 45px;
}

.footer__item{
  text-align: center;
  max-width: 300px;
}

.footer__info{
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 10px;
}

.footer__link{
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.offer{
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  color: #a3a3a3;
  text-decoration: none;
  display: block;
  max-width: 250px;
  margin: 0 auto;
}